<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ear Buds</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../home.css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <script src="../main.js"></script>
        <script src="../home.js"></script>
    </head>
    <body>
        <nav class="site-nav">
                <span id="page-title">Ear Buds</span>
                <ul class="nav-list">
                    <li>
                        <button id="log-out-btn" class="nav-btn">Log Out</button>
                    </li>
                </ul>
            </nav>
            <main>
                <div class="splash">
                    <div class="splash-contents">
                        <span id="tag-line">Time to get groovin'</span>
                        <span id="tag-desc">Join a room below (work in progress), or create your own</span>
                    </div>
                </div>
                <div id="main-content">
                    <h3>Rooms</h3>
                    <h4>Click on any room to join</h4>
                    <button id="room-refresh-btn">Refresh Rooms</button>
                    <div id="room-table">
                
                    </div>
                    <h3>Or Create a New Room</h3>
                    <input type="text" id="new-room-name" placeholder="Set a name"></input>
                    <button id="create-room-btn">Create a Room</button>
                </div>
            </main>    
            <footer class="site-footer">
                <p class="liscense">©2018 by Hayden Ives</p>
            </footer>
    </body>
</html>