<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ear Buds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="index.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script src="main.js"></script>
    <script src="index.js"></script>
</head>
<body>
    <nav class="site-nav">
        <span id="page-title">Ear Buds</span>
        <ul class="nav-list">
            <li>
                <button id="start-log-in-btn" class="nav-btn">Log In</button>
            </li>
        </ul>
    </nav>
    <main>
        <div class="splash">
            <div class="splash-contents">
                <span id="tag-line">Listen Together. Apart.</span>
                <span id="tag-desc">Still under heavy development. Don't use a real password.</span>
                <div class="btn-container">
                    <button id="start-sign-up-btn" class="sign-up-btn">Sign Up Anyway</button>
                </div>
            </div>
        </div>
        <div id="overlay">
            <div id="sign-up-div" class="overlay-div">
                <span id="sign-up-msg">Fill in the deets</span>
                <button id="sign-up-exit-btn" class="exit-btn">X</button>
                <p>Username:</p>
                <input type="text" id="username" class="cred-input" placeholder="Username">
                <br>
                <button id="check-un-btn" class="cred-btn">Check Availability</button>
                <br>
                <p>Email:</p>
                <input type="text" id="email" class="cred-input" placeholder="email">
                <br>
                <p>Password:</p>
                <input type="password" id="password" class="cred-input" placeholder="Password">
                <br>
                <p>Confirm Password:</p>
                <input type="password" id="password-confirm" class="cred-input" placeholder="Confirm Password">
                <br>
                <button id="submit-sign-up-btn" class="cred-btn">Signup</button>
            </div>
            <div id="log-in-div" class="overlay-div">
                <span id="log-in-msg">Good to see you again!</span>
                <br>
                <button id="log-in-exit-btn" class="exit-btn">X</button>
                <input type="text" id="username-input" class="cred-input" placeholder="Username or email">
                <br>
                <input type="password" id="password-input" class="cred-input" placeholder="Password">
                <br>
                <button id="log-in-btn" class="cred-btn">Login</button>
            </div>
        </div>
    </main>
    <footer class="site-footer">
        <p class="liscense">©2018 by Hayden Ives</p>
    </footer>
    
</body>
</html>