<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ear Buds - Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../player.css" />
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="../player.js"></script>
    <script src="../main.js"></script>
</head>
<body>
    <nav class="site-nav">
        <span id="page-title">Player (WIP)</span>
        <ul class="nav-list">
            <li>
                <button id="back-btn" class="nav-btn">Leave</button>
            </li>
        </ul>
    </nav>
    <main>
        <div id="search-bar-div">
            <input type="text" id="search-input" placeholder="Search for a song"></input>
            <button class="nav-btn" id="search-btn">Search</button>
        </div>
        <div id="player-div">
            <div id="control-div">
                <!-- Icon made by Daniele De Santes from www.flaticon.com  -->
                <div id="button-div">
                    <button id="last-song-btn"></button>
                    <button id="toggle-btn"></button>
                    <button id="next-song-btn"></button>
                </div>

                <input type="range" min="0" max="100" value="100" id="vol-slider">
            </div>
        </div>
    </main>
</body>
</html>