<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ear Buds - Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../main.css" />
    <script src="../signup.js"></script>
    <script src="../main.js"></script>
</head>
<body>
    <h1>Ear Buds</h1>
    <h3>Fill in the deets</h3>
    <p>Username:</p>
    <input type="text" id="username" placeholder="Username">
    <br>
    <p>Email:</p>
    <input type="text" id="email" placeholder="email">
    <br>
    <p>Password:</p>
    <input type="password" id="password" placeholder="Password">
    <br>
    <p>Confirm Password:</p>
    <input type="password" id="password-confirm" placeholder="Confirm Password">
    <br>
    <button id="sign-up-btn">Signup</button>
</body>
</html>