.splash {
    height: 444px;
    background: #f3922e;
    background: -webkit-linear-gradient(155deg, #f3922e, #893dce);
    background: linear-gradient(180deg,rgba(255,255,255,0.05) 80%, rgba(255,255,255,0.1) 85%, rgba(255,255,255,1))
    , radial-gradient(circle, rgba(255,255,255,0.1), rgba(0,0,0,0.1))
    , linear-gradient(155deg, #f3922e, #893dce);
}

.splash-contents {
    height: 308px;
    width: 80%;
    padding-top:96px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#room-table{
    width: 80%;
    margin: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#table-header-row{
    color: white;
    border-top: none;
    border-radius: 8px 8px 0 0;
}

#table-header-row td{
    text-align: center;
}

#table-header-row:hover{
    background-color: rgba(80,110,130,0.8);
    font-size: 1rem;
    font-weight: normal;
}

tr{
    color: #ddd;
    background-color: rgba(80,110,130,0.8);
    display: flex;
    justify-content: space-evenly;
    border-top: solid 2px rgba(70, 100, 120, 0.8);

    transition-duration: 0.3s;
}

tr:hover{
    color: #444;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgba(45, 125, 170, 0.8);
}

#room-table tr:last-child{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

th{
    padding: 8px;
}

tr td:first-child{
    flex-grow: 2;
    border-left: none;
}

tr td:last-child{
    flex-grow: 1;
    border-right: none;
}

td{
    padding: 8px;
    border-left: solid 1px rgba(70, 100, 120, 0.8);
    border-right: solid 1px rgba(70, 100, 120, 0.8);
    flex-grow: 1;
    flex-basis: 0;
    word-break: break-word;
}