.splash {
    height: 100%;
    background: #3d8bce;
    background: -webkit-linear-gradient(135deg, #8b84ff, #40dfdf);;
    background: radial-gradient(circle, rgba(255,255,255,0.1), rgba(0,0,0,0.1)), linear-gradient(135deg, #8b84ff, #40dfdf);;
}

.splash-contents {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

input {
    display: inline-block;
}

.sign-up-btn {
    display: block;

    border-style: none;
    border: solid 1px #fafafa;
    text-decoration-style: none;
    
    background-color: transparent;
    color: #fafafa;
    
    width: 240px;
    height: 48px;

    padding: 0;
    margin: 16px auto;

    font-size: 18px;
    font-weight: 300;

    border-radius: 5px;

    transition-duration: 0.3s;
}

.sign-up-btn:hover {
    background-color: rgba(0, 0, 0, .4);
}

#overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;

    display: none;

    background-color: rgba(0, 0, 0, .4)
}

.overlay-div {
    display: none;
    position: relative;
    color: #1f1f1f;
    background-color: rgba(230, 230, 230, 0.79);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    flex-direction: column;
    max-width: 80%;
    width: 466px;
    margin: auto;
    padding: 16px;
    margin-top: 192px;
    border-radius: 8px;
    box-shadow: 0px 8px 15px 7px rgba(0, 0, 0, 0.15);
    z-index: 1100;
}

.overlay-div span {
    text-align: center;
    font-size: 32px;
}

.overlay-div .cred-btn {
    width: 50%;
    height: 40px;
    align-self: center;
    font-size: 18px;
    border-style: none;
    border-radius: 5px;
    background: linear-gradient(235deg, #5ac2da, #3d8bce);
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
    color: #fafafa;
    cursor: pointer;
    transition-duration: 0.3s;
}

.overlay-div button:hover {
    background-color: rgba(0, 0, 0, .4);
}

.cred-input {
    width: 67%;
    align-self: center;
    line-height: 32px;
    font-size: 18px;
    padding: 4px 16px;
    margin-bottom: 4px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: #ececec;
    box-shadow: -2px 3px 3px 0 rgba(0,0,0,0.1);
}

.overlay-div .exit-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;

    font-size: 1.1rem;

    background-color: transparent;

    border: none;
    border-radius: 0 8px 0 0;
}

.exit-btn:hover {
    color: white;
    transition: 0.3s;
}