html {
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    min-height: 100%;
}

span {
    padding: 0px;
}

main {
    height: 100%;
    min-height: 100%;
}

.site-nav {
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 96px;
    position: fixed;
}

.nav-list {
    margin-right: 48px;
    float: right;
}

nav ul {
    padding: 0;
    margin: 0;
    height: 96px;
    list-style-type: none;
    overflow: hidden;
}
nav li {
    list-style: none;
}

.nav-btn {
    float: right;
    height: 96px;
    border-style: none;
    border: solid 1px #fafafa;
    text-decoration-style: none;
    
    background-color: transparent;
    color: #fafafa;
    
    width: 96px;
    height: 40px;

    padding: 0;
    margin: 28px 0;

    font-size: 18px;
    font-weight: 300;

    border-radius: 5px;

    transition-duration: 0.3s;
}

.nav-btn:hover {
    background-color: rgba(255, 255, 255, .4);
}


#page-title {
    height: inherit;
    font-size: 3rem;
    color: #fafafa;
    font-weight: 100;
    line-height: 96px;
    padding-left: 48px;
}

#tag-line {
    display: block;
    font-size: 3.5rem;
    color: #fafafa;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 16px;
}

#tag-desc {
    display: block;
    font-size: 1.5rem;
    color: #fafafa;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 16px;
}

.site-footer {
    background-color: #383838;
    padding: 18px;
    
}

.liscense {
    font-weight: lighter;
    font-size: 1.2rem;
    text-align: right;
    color: #fafafa;
}