body{
    height: 100%;
}

main{
    padding-top: 128px;
    background: linear-gradient(0deg, #000010 0%, #202040 100%);
    color: #ddd;
}

span {
    color: #999;
}

#search-bar-div {
    display: flex;
    justify-content: center;

}

#search-bar-div input{
    color: #ddd;
    width: 60%;
    padding: 0 16px;
    border-radius: 8px 0 0 8px;
    background-color: rgba(80,110,130,0.4);
    font-size: 1.2rem;
    height: 48px;
    line-height: 48px;
    border: none;
}

#search-bar-div input:focus {
    outline: none;
}

#search-bar-div button {
    height: 48px;
    margin: 0;
    border-radius: 0 8px 8px 0;
}

#last-song-btn{
    background-image: url(./res/back.svg);
}

#toggle-btn {
    background-image: url(./res/play-button.svg);
}

#next-song-btn{
    background-image: url(./res/next.svg);
}

#song-name {
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
}

#player-div {
    margin-top: 96px;
    width: 50%;
    background-color: rgba(80,110,130,0.4);
    border-radius: 32px;
    padding: 16px;
    margin: 16px auto;
    display: flex;
    flex-direction: column-reverse;
}

#track-img-div {
    display: flex;
    justify-content: center;
    margin: 8px;
}

#track-info-div {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

#track-info-div span{
    text-align: center;
}

#control-div {
    display: flex;
    justify-content: space-between;
}

#button-div {
    display: flex;
    align-items: center;
}

#button-div button {
    flex-grow: 1;
    background-size: cover;
    width: 40px;
    height: 40px;
    background-color: rgba(30,30,40,0.8);
    border-radius: 20px;
    border: none;
    margin: 8px;

    transition-duration: 0.3s;
}

#button-div button:hover {
    background-color: rgba(100, 100, 120, 0.8);
    width: 50px;
    height: 50px;
    margin: 3px;
}

#current-track-img{
    border-radius: 32px;
    background-image: linear-gradient(65deg, #3ce0c2, #7651e8);
    padding: 2px;
}